.navbar {
  background-color: #00bcd4;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 3rem; 
  color: #ffffff;
  text-transform: uppercase;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navLink {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #004d40;
}

.navButton {
  background-color: transparent;
  color: #ffffff;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navButton:hover {
  color: #004d40;
}
